html, body {
  margin: 0;
  overflow: hidden;
  height: 100%;
  box-sizing: border-box;
}

.navbar {
  background-color: #168ccc;
  color: #fff;
  position: fixed;
  right: 0;
  left: 0;
  min-height: 50px;
  border: 1px solid transparent;
  padding: 15px 15px 0 15px;
  font-size: 18px;
  line-height: 20px;
  z-index: 5;
}

#sidebar-control {
  display: none;
}

.navbar .navbar-label {
  display: inline-block;
  margin-top: 5px;
  margin-left: 8px;
  position: absolute;
}

#sidebar {
  height: 100%;
  width: 15%;
  position: absolute;
  left: 0;
  top: 65px;
  padding-left: 15px;
  padding-right: 15px;
  background: #fff;
}

#sidebar .search-box {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  width: 90%;
}

#sidebar .search-item-list {
  width: 90%;
  margin: 5px auto;
  list-style-type: none;
  padding-left: 0;
}

#sidebar .search-item-list .search-item {
  padding-top: 2px;
  padding-bottom: 2px;
}

#sidebar .search-item-list .selected-item {
  color: #9370DB;
}

#map-canvas {
  width: 83%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 65px;
  bottom: 0;
  overflow: hidden;
}

.info-loaded {
  min-height: 300px;
  margin: 5px 0;
}

.info-container h3 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.info-container .info {
  margin-bottom: 3px;
}

.info-container .info .key {
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  #sidebar .search-item-list {
    font-size: 0.75em;
  }

  #map-canvas {
    width: 100%;
  }

  #sidebar-control {
    display: inline-block;
  }

  #sidebar {
    z-index: 3;
    width: 33.33%;
    font-size: 0.75em;
  }
}
